{% extends "goongreen_goconnected/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>

{% endblock %}

{% block app_content %}
  <h1>Welcome to the Go Connected App!</h1>
  <p>Created by team Go On Green (Camille Lunt, Emily Andrus, and Bruce Wang)</p>
  <h2>Instructions:</h2>
  <p>1. Go to the Map page</p>
  <p>2. Select a city name from the drop-down list. </p>
  <p>3. Click Submit</p>
  <p>4. Three connectivity measures will appear, and the city boundaries and bus stops will show on the map.</p>
  <p>5. Click the Show Me the $$$ button to see the Results Page.</p>



{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Help Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Help</h5>
        </div>
        <div class="modal-body">
          <p>This application calculates a connectivity rating for cities in Utah and Salt Lake Counties. There are three measures used to calculate the score: elevation change, intersection density, and number of bus stops.  </p>
          <p>Start on the Map Page.</p>
          <p>To calculate the elevation change, intersection density, and number of bus stops, select a city from the drop-down menu, then click Submit.</p>
          <p>Then, to see the connectivity rating for each measure and the overall connectivity score, click the Show Me the $$$ button.</p>
          <p>To export the Results Page to a PDF, click the Export to PDF button, and it will save as Connectivity_Results.pdf.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}
{% endblock %}