{% extends "goongreen_goconnected/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}

  <h1>Calculate Connectivity</h1>
<form>

 <!-- <input type="text" id="cityname"/> -->

  <div>
<h3><label id="fromlabel">Select City:</label></h3>
<select id="cityname">
    <option id="Alpine">Alpine</option>
    <option id="Alta">Alta</option>
    <option id="American Fork">American Fork</option>
    <option id="Bluffdale">Bluffdale</option>
    <option id="Cedar Fort">Cedar Fort</option>
    <option id="Cedar Hills">Cedar Hills</option>
    <option id="Cottonwood Heights">Cottonwood Heights</option>
    <option id="Draper">Draper</option>
    <option id="Eagle Mountain">Eagle Mountain</option>
    <option id="Elk Ridge">Elk Ridge</option>
    <option id="Fairfield">Fairfield</option>
    <option id="Genola">Genola</option>
    <option id="Herriman">Herriman</option>
    <option id="Highland">Highland</option>
    <option id="Holladay">Holladay</option>
    <option id="Lehi">Lehi</option>
    <option id="Lindon">Lindon</option>
    <option id="Mapleton">Mapleton</option>
    <option id="Midvale">Midvale</option>
    <option id="Millcreek">Millcreek</option>
    <option id="Murray">Murray</option>
    <option id="Orem">Orem</option>
    <option id="Payson">Payson</option>
    <option id="Pleasant Grove">Pleasant Grove</option>
    <option id="Provo">Provo</option>
    <option id="Riverton">Riverton</option>
    <option id="Salem">Salem</option>
    <option id="Salt Lake City">Salt Lake City</option>
    <option id="Sandy">Sandy</option>
    <option id="Santaquin">Santaquin</option>
    <option id="Saratoga Springs">Saratoga Springs</option>
    <option id="South Jordan">South Jordan</option>
    <option id="South Salt Lake">South Salt Lake</option>
    <option id="Spanish Fork">Spanish Fork</option>
    <option id="Springville">Springville</option>
    <option id="Taylorsville">Taylorsville</option>
    <option id="Vineyard">Vineyard</option>
    <option id="West Jordan">West Jordan</option>
    <option id="West Vally City">West Valley City</option>
    <option id="Woodland Hills">Woodland Hills</option>

  </select>
</div>

</form>
  <input type="button" id="submit" value="Submit"/>
<br>
<label id="Range"></label>
<br>
<label id="IntDen"></label>
<br>
<label id="Buses"></label>

<div id="loading"></div>

<style>
  #viewDiv {
    padding: 0;
    margin: 0;
    height: 600px;
    width: 900px
  }
</style>

<div id="viewDiv"></div>

<br>
<br>

<!--Open Modal for Results Page -->
<button id="resultsBtn" data-toggle="modal" data-target="#resultsModal"> Show me the $$$</button>



{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
   <!-- Help Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Help</h5>
        </div>
        <div class="modal-body">
            <p>This application calculates a connectivity rating for cities in Utah and Salt Lake Counties. There are three measures used to calculate the score: elevation change, intersection density, and number of bus stops.  </p>
          <p>Start on the Map Page.</p>
          <p>To calculate the elevation change, intersection density, and number of bus stops, select a city from the drop-down menu, then click Submit.</p>
          <p>Then, to see the connectivity rating for each measure and the overall connectivity score, click the Show Me the $$$ button.</p>
          <p>To export the Results Page to a PDF, click the Export to PDF button, and it will save as Connectivity_Results.pdf.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>


   <!-- Help Modal -->
  <div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="results-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="results-modal-label">Results Page</h5>
        </div>
        <div class="modal-body">
            <h2>Results Page</h2>
              <p id="DisplayCityName"></p>
              <!--<div id="modalMap" style="height: 600px; width: 100%"></div>
              <br>-->
              <p id="ConnScore"></p>
              <p id="ElevScore"></p>
              <p id="IntScore"></p>
              <p id="BusScore"></p>
        </div>
        <div class="modal-footer">
            <button id="exportBtn">Export to PDF</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}

{% block app_actions %}
{% endblock %}